body{
    margin: 0;
    padding: 0;
    background-image: url('asd2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
header{
    top:0;
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    position: fixed;

}

.logo
{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    

}
h4{   
    color: aliceblue;
    margin: 0 0 20px 0;
    font-family: Verdana;
    font-weight: 300;
    font-size: 28px;
   
}

li, a, button{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    
}
.tab{
    margin-top: 120px;
   
   
}
tr{
    
    display: flexbox;
    justify-content: space-evenly;
    text-align: center;
    padding: 2px;
    font-family: Verdana;
     
}


table{
    color: aliceblue;
    margin: 0 0 20px 0;
    font-family: Verdana;
    font-weight: 300;
    font-size: 10px;
       
}

header{

    display: flex;
    justify-content: space-evenly	;
    align-items: center;
    padding: 30px 10%;
}

.nav_links{
   
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
 
}

.nav_links li a{
    transition: all 0.3 ease 0s;

}

.nav_links li a:hover{
    color: #aa241b;

}


.container
{
  
    box-sizing: 40px;
    padding: 40px;
    width: 300px;
    height: 400px;
    
}


.wraper{
 
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size:  15px;
}

input[type="submit"]
{
    
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #aa241b;
    border: none;
    border-radius: 2px;
    color:white;
    font-family: sans-serif;
    font-weight:  500;
    text-transform: uppercase;
    transition: transform .15s ease-out;
    cursor: pointer;

}

input[type="submit"]:hover,
onput[type="submit"]:focus
{
    background: #752209;
    transition: 0.2 ease;
}

h3
{
    color: black;
    margin: 0 0 20px 0;
    font-family: Verdana;
    font-weight: 300;
    font-size: 28px;
 
}


@media(max-width:692px){

    header{
        top:0;
        box-sizing: border-box;
        width: 100%;
        background-color: black;
        position: relative;
        padding-block-end: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px 0%  ;
    }
    


   .logo{
    position:absolute;
    top: 10px;
    text-align: center;
    bottom: 10px;
    margin-bottom: 35px;
  }

  h4{
  
    text-align: center;
      
}

  li, a, button{
  
        position:relative;
        left:0;
        width:100%;
        margin-top: 35px;
        font-size: 25px;
        padding: 0px 0% ;
        text-align: center;
    }

    .nav_links li{
        display: inline-block;
        padding: 0px 0px 0px 0px;
        margin-left: 0px;
       
    }

    .wraper-container{
        margin-top:10px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    img{
        width: 350px;
        height: 230px;
    }
    
    ul{
        margin-top: 35px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-height:400px){
    header{
        top:0;
        box-sizing: border-box;
        width: 100%;
        background-color: black;
        position: relative;
        padding-block-end: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 10%  ;
    }
    .wraper-container{
        margin-top:10px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    img{
        width: 600px;
        height: 370px;
    }
}